<div class="jumbotron">
  <h1>Welcome to my app</h1>
  <p>Click to HERE <%= link_to "Sign up",'#',class: "btn btn-primary btn-lg"%></p>
  <%= link_to "Log in",'#',class: "btn btn-primary btn-lg"%>
  <%= link_to "Sign up",'#',class: "btn btn-primary btn-lg"%>

</div>